#intro {
    height: calc(100vh - 7rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem 2rem 15rem 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introName{
    color: aqua;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}